{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-5">
            <h2>Mon panier <span class="fw-lighter">({{ cart |length }} éléments)</span></h2>
            <div>
                <a href="{{ path('app_cart_empty') }}" class="btn btn-outline-danger btn-sm">
                    <i class="bi bi-trash"></i>
                    Vider le panier</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'cart/_table.html.twig' with {cart} %}
            </div>
        </div>

        <div class="d-grid col-4 ms-auto my-5">
            <a href="" class="btn btn-success">Valider le panier</a>
        </div>

    </div>
{% endblock %}

