{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            {% include 'layout/article/_section.html.twig' with {
                articles: lastArticle,
                title: 'Derniers Articles'
            } %}
        </div>
        <div class="row">
            {% include 'layout/article/_section.html.twig' with {
                articles: lastProduction,
                title: 'Dernières prod'
            } %}
        </div>
    </div>
{% endblock %}
