{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'layout/article/_section.html.twig' with {
            articles: lastArticle,
            title: 'Derniers Articles'
        } %}

        <div {{ react_component('Carousel', {
            products: lastArticleReact,
            elementVisible: 3,
            elementToScroll: 3
        }) }}></div>

        {% include 'layout/article/_section.html.twig' with {
            articles: lastProduction,
            title: 'Dernières prod'
        } %}
    </div>
{% endblock %}
