parameters:
    checkGenericClassInNonGenericObjectType: false
    checkUninitializedProperties: true
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
