<div class="row row-cols-sm-1 row-cols-lg-3 g-4 justify-content-center">
    {% for article in articles %}
        <div class="col">
            <a href="{{ path('app_catalog_show', {support: article.support, slug: article.slug}) }}"
               class="card-title text-decoration-none mb-0">
                {% include 'layout/article/_card.html.twig' with {article} %}
            </a>
        </div>
    {% endfor %}

</div>
