<div class="row row-cols-sm-1 row-cols-lg-3 row-cols-xl-4 g-4 justify-content-center">

    {% for article in articles %}
        <div class="col">
            {% include 'layout/article/_card.html.twig' with {article} %}
        </div>
    {% endfor %}

</div>
