<section class="mt-5">
    <div class="row">
        <div class="col bg-dark text-white p-3 rounded">
            {{ title| upper }}
        </div>
    </div>
        <div {{ react_component('Slider', {
            products: articles
        }) }}></div>
</section>
