<section class="mt-5 mb-5">
    <div class="col bg-dark text-white p-3 mb-5 rounded">
        {{ title | upper }}
    </div>
    <div {{ react_component('Slider', {
        products: articles,
        options
    }) }}></div>
</section>
