<section class="mt-5">
    <div class="row">
        <div class="col bg-dark text-white p-3 rounded">
            {{ title| upper }}
        </div>
    </div>
    <div class="row row-cols-sm-1 row-cols-lg-3 row-cols-xl-4 g-4 justify-content-center mt-3">
        {% for article in articles %}
            {% if article.slug is not same as app.request.get('slug') %}
                <a href="{{ path('app_catalog_show', {support: article.support, slug: article.slug}) }}"
                   class="card-title text-decoration-none mb-0">
                    <article class="col">
                        {% include 'layout/article/_card.html.twig' with {article} %}
                    </article>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</section>
