<section class="mt-5">
    <div class="row">
        <div class="col bg-dark text-white p-3 rounded">
            Article du même {{ type }}.
        </div>
    </div>
    <div class="row row-cols-sm-1 row-cols-lg-3 row-cols-xl-4 g-4 justify-content-center mt-3">
        {% for article in articles %}
            {% if article.slug is not same as app.request.get('slug') %}
                <article class="col">
                    {% include 'layout/article/_card.html.twig' with {article} %}
                </article>
            {% endif %}
        {% endfor %}
    </div>
</section>
