{# @var user \App\Entity\User #}

{% set routes = [
    {
        name: 'Mes informations',
        link: 'app_user_informations',
        icon: ''
    },
    {
        name: 'Modifier informations',
        link: 'app_user_informations_edit',
        icon: ''
    },
    {
        name: 'Modifier informations',
        link: 'app_user_informations_edit',
        icon: ''
    }
] %}


<div class="d-flex flex-column border border-secondary rounded flex-shrink-0 mt-5 px-5 py-3 bg-white">
    <a href="{{ path('app_user_informations') }}" class="my-2 text-decoration-none">
        <i class="bi bi-speedometer2 fs-4 me-3"></i>
        Tableau de bord
    </a>
    <a href="{{ path('app_user_orders') }}" class="my-2 text-decoration-none">
        <i class="bi bi-truck fs-4 me-3"></i>
        Mes commandes
    </a>
    <a href="{{ path('app_user_collection') }}" class="my-2 text-decoration-none">
        <i class="bi bi-database fs-4 me-3"></i>
        Ma collection
    </a>
    <a href="{{ path('app_user_wantlist') }}" class="my-2 text-decoration-none">
        <i class="bi bi-eye fs-4 me-3"></i>
        Ma wantlist
    </a>
</div>
