{# @var user \App\Entity\User #}

{% set routes = [
    {
        name: 'Tableau de bord',
        link: 'app_user_informations',
        icon: 'bi-speedometer2'
    },
    {
        name: 'Modifier mes informations',
        link: 'app_user_informations_edit',
        icon: 'bi-person-gear'
    },
    {
        name: 'Modifier mon mot de passe',
        link: 'app_user_password_edit',
        icon: 'bi-person-lock'
    },
    {
        name: 'Mes commandes',
        link: 'app_user_orders',
        icon: 'bi-truck'
    },
    {
        name: 'Ma collection',
        link: 'app_user_collection',
        icon: 'bi-database'
    },
    {
        name: 'Ma wantlist',
        link: 'app_user_wantlist',
        icon: 'bi-eye'
    }
] %}

<div class="d-flex flex-column border border-secondary rounded-1 flex-shrink-0 px-5 py-3 bg-white">
    {% for route in routes %}
        <a href="{{ path(route.link) }}" class="d-flex align-items-center my-2 text-decoration-none">
            <i class="bi {{ route.icon }} fs-4 me-3"></i>
            {{ route.name }}
        </a>
    {% endfor %}
</div>
