{# @var user \App\Entity\User #}

{% set routes = [
    {
        name: 'Mes informations',
        link: 'app_user_informations',
        icon: ''
    },
    {
        name: 'Modifier informations',
        link: 'app_user_informations_edit',
        icon: ''
    }
] %}


<div class="d-flex flex-column border border-secondary rounded flex-shrink-0 mt-5 px-5 py-3 bg-white">
    <a href="{{ path('app_user_informations') }}">Tableau de bord</a>
</div>
