{% extends 'base.html.twig' %}

{% block body %}
    <div class="container bg-light">
        <div class="row">
            <div class="col-4">
                {% include 'layout/_sidebar.html.twig' %}
            </div>
            <div class="col-8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
