{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-5">
        {% include 'layout/article/_article-grid.html.twig' with {articles: articles.items} %}
        {{ knp_pagination_render(articles, 'partials/_pagination.html.twig') }}
    </div>
{% endblock %}
