{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-5">
        {% include 'layout/_breadcrumb.html.twig' with {breadcrumb} %}
        <div class="row">
            <div class="col-md-3">
                {{ form_start(form) }}
                {% for formChild in form %}
                    <div class="p-3 mt-3 filter-block">
                        {{ form_widget(formChild) }}
                    </div>
                {% endfor %}
                {{ form_end(form) }}
            </div>
            <div class="col-md-9">
                {% include 'layout/article/_article-grid.html.twig' with {articles: articles.items} %}
            </div>
        </div>
        {{ knp_pagination_render(articles, 'partials/_pagination.html.twig') }}
    </div>
{% endblock %}
