{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row row-cols-3 gap-3">
            {% for article in articles %}
                <div class="col">
                    <a href="{{ path('app_catalog_article', {support: article.support, slug: article.slug}) }}">
                        <div class="card">
                            {{ article.name }}
                            {{ article.quantity }}
                            {{ article.price }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
