{% extends 'base.html.twig' %}

{% block body %}
<div class="container py-5">
    {% include 'layout/_breadcrumb.html.twig' with {breadcrumb} %}
    <ul class="row justify-content-center gap-4">
        {% for support in supports %}
            <li class="col-md-6 col-lg-2 list-group-item text-center list-support">
                <a href="{{ path('app_catalog_list', {support: support.name}) }}"
                   class="text-decoration-none catalog-{{ support }}">
                    <h1>{{ support.name | upper }}</h1>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
